@{
    ViewBag.Title = "About";
    ViewBag.Pagina = "Home Page";
    ViewBag.DescCorta = "Descripcion";
    ViewBag.Controlador = "Home";
    ViewBag.Accion = "Index";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<p>Use this area to provide additional information.</p>
